body {
	background-color: #34495e;
	background: url("https://hd.unsplash.com/photo-1465101162946-4377e57745c3");
	background-size: cover;
}
#login {
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	text-align: center;
	background-color: #78909C;
	border-radius: 10px;
	border-style: solid;
	border-color: #212121;
	padding: 1%;
	box-shadow: 1px 10px 10px #78909D;
}

#login input {
	margin-top: 5%;
	margin-left: 10%;
}

#login input[type=submit] {
	margin-left: 0;
}

.textinbox {
	text-align: left;
	style: inline;
}